profiles {
   awsbatch {
    aws {
      accessKey = secrets.aws_access_key_id
      secretKey = secrets.aws_secret_access_key
      region = 'eu-west-1'
      //batch.cliPath = '/opt/conda/bin/aws'
    }
    docker.enabled = true
    wave.enabled = true
    wave.build.conda.mambaImage = 'quay.io/nextflow/rnaseq-nf:v1.2.1'
    tower.accessToken = secrets.tower_access_token
    process {
      conda = 'conda-forge::awscli'
      cpus = 1
      executor = 'awsbatch'
      queue = 'nextflow-ci'
    }
    workDir = 's3://nextflow-ci-dev/work'
  }

  'wave-stage' {
    wave.endpoint = 'https://wave.stage-tower.net'
    tower.endpoint = 'https://api.stage-tower.net'
    tower.accessToken = secrets.tower_access_token_stage
  }  
}

