profiles {
  standard {
    process.container = 'cr.seqera.io/public/rnaseq-nf:v1.2.1'
  }

  awsbatch {
    process.container = 'cr.seqera.io/public/rnaseq-nf:v1.2.1'
    process.executor = 'awsbatch'
    process.queue = 'nextflow-ci'
    workDir = 's3://nextflow-ci/work'
    aws.region = 'eu-west-1'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
  }

  'wave-stage' {
    wave.endpoint = 'https://wave.stage-tower.net'
    tower.endpoint = 'https://api.stage-tower.net'
    tower.accessToken = "$TOWER_ACCESS_TOKEN"
  }  
}

